* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(48, 89, 140);
    color: rgb(255, 255, 255);
    height: 62px;
    display: flex;
    flex-direction: row;
}

.header-left {
    width: 2%;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 42%;
}

.header-logo a img {
    width: 103px;
}

.header-menu {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-title {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.header-menu-title:hover {
    color: gray;
}

.gio-hang {
    color: #fff;
    font-size: 25px;
}

.avatar {
    color: #fff;
    font-size: 25px;
}

.main {
    width: 100%;
    background-color: #F4F7FA;
    text-align: left;
    padding-bottom: 50px;
}

.container {
    min-height: auto;
    padding-top: 50px !important;
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
}

.menu-col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 20px;
}

.menu {
    position: sticky;
    font-size: 23px;
    top: 20px;
}



.search {
    display: flex;
}

.button-list {
    background-color: #fff;
    border-color: #2196F3;
    border-radius: 5%;
    width: 316px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.card img {
    width: 316px;
    height: 221px;
}

.main-card {
    width: 316px;
    height: 348px;
    background-color: #fff;
    margin-bottom: 30px;
}

.main-card a {
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 24px 0;
    text-decoration: none;
    color: #000;
}

.name-card {
    font-size: 22px;
    width: 100%;
    margin-bottom: 15px;
}

.icon-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #30598C;
    color: #fff;
    padding-bottom: 70px;
}

.col{
    font-size: 16px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.col li{
    list-style: none;
    margin-bottom: 20px;
}

.col li a{
    text-decoration: none;
    color: #fff;
}

.col li a:hover{
    color: gray;
}

.icon-footer{
    display: flex;
    font-size: 30px;
}

.icon-footer li{
    margin-right: 20px;
}